body {
  background-image: url('https://media.istockphoto.com/id/1326304939/vector/studio-room-in-dark-blue-background-with-copy-space-luxury-gallery-empty-room-abstract.jpg?s=612x612&w=0&k=20&c=wZhCPp213vDnmc66LNJ3Kb4qKZHr_xiKCvYmfpQgyHI=');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.Header {
  background-color: 
  #050A30;
  border-bottom: 1px solid gray;
  position: fixed;
  min-width: 100%;
  z-index: 10;
}

.under-line {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: transform 0.6s;
}

.under-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: yellow;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.under-line:hover::after {
  transform: scale(1.3);
  transform: scaleX(1);
}

.under-line:hover {
  transform: scale(1.1);
}

.Main {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 14%;
}

.fade {
  position: absolute;
  margin-top: 200px;
}

 /* fixes the last <p> and gives the glowing effect on the photo */

.glowing-border {
  animation: glow 2s ease-in-out infinite alternate;
  border: 4px solid #fff;
  border-radius: 30%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  max-height: 300px;
}

@keyframes glow {
  from {
    border-color: #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  }
  to {
    border-color: #6ab1d7;
    box-shadow: 0 0 20px rgba(106, 177, 215, 0.7);
  }
}

#tech-text {
  font-size: 30px;
  text-decoration: underline yellow;
}

#tech {
  border-radius: 5px;
  border: 2px solid whitesmoke;
  font-size: 25px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 200px;
}

.badge-div {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
 align-self: center;
}

.badges {
  border-radius: 10px;
  margin-left: 25px;
  padding: 3px;
  width: 80px;
  height: 80px;
  transition: transform 0.6s;
}

.badges:hover {
  transform: scale(1.3);
  border: 3px solid yellow;
}

.path-header {
  text-decoration: underline black;
}

#path {
  margin-top: 300px;
  padding: 20px;
}

.message {
  width: 800px;
  min-height: 400px;
}

.project-header {
  text-decoration: underline yellow;
  margin-top: 300px;
}

#projects {
  margin-left: 60px;
  padding-top: 60px; 
}

.image {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

#contact {
  margin-top: 250px;
  padding-bottom: 250px;
}

.footer-1 {
   border-top: 2px solid whitesmoke;
}

.badge {
  width: 50px;
  height: 50px;
}
